body {
  background-image: url("../images/earth.png");
  background-size: cover;
  font-family: sans-serif;
}

.container {
  display: block;
  max-width: 600px;
  margin: 35px auto 15px;
  background-color: rgba(9, 20, 96, 0.7);
  padding: 25px 40px;
  color: #fafafa;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  margin: 0;
  line-height: 2;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  color: #091460;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgb(100, 100, 100);
}

.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}

a {
  color: rgb(16, 249, 249);
}

date {
  opacity: 0.7;
}

footer {
  text-align: center;
  text-shadow: 3px 3px 5px rgb(162, 47, 249);
  color: #fafafa;
  font-size: 20px;
}
